:root {
  --primary: rgb(255, 255, 255);
  --primary2: rgb(198,251,193);
  --primary-text: #1a1a1a;
  --secondary: #0084ff;
  --secondary-text: #ffffff;
  --accent: #ffffff;
  --accent2: #fff;
  --accent-text: rgb(0, 0, 0);
}
